/* Base menu styles */
.menu, .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.menu {
  height: 58px;
  display: flex;
  background-color: transparent;
}

.menu li {
  background: transparent;
  border-bottom: none;
  border-top: none;
  min-width: 160px;
}

.menu > li {
  display: block;
  float: left;
  position: relative;
}

.menu > li:first-child {
  border-radius: 0;
}

.menu a {
  border-left: 3px solid transparent;
  color: #4a4a4a;
  display: block;
  font-family: 'Lucida Console', monospace;
  font-size: 18px;
  line-height: 54px;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Hover effects */
.menu li:hover {
  background: transparent;
  border-bottom: none;
  border-top: none;
}

.menu li:hover > a {
  border-radius: 0;
  border-left: 3px solid #C4302B;
  color: #C4302B;
}

/* Submenu styles with 3D rotation */
.submenu {
  left: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  z-index: 0;
  perspective: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.submenu li {
  opacity: 0;
  transform: rotateY(90deg);
  transition: opacity .4s, transform .5s;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.submenu li:last-child {
  border-bottom: none;
}

.menu .submenu li:hover {
  background-color: #f8f8f8;
}

.menu .submenu li:hover a {
  border-left: 3px solid #C4302B;
  border-radius: 0;
  color: #C4302B;
}

.menu > li:hover .submenu, 
.menu > li:focus .submenu {
  max-height: 2000px;
  z-index: 10;
}

.menu > li:hover .submenu li, 
.menu > li:focus .submenu li {
  opacity: 1;
  transform: none;
}

/* CSS3 delays for transition effects - appearing */
.menu li:hover .submenu li:nth-child(1) {
  transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
  transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
  transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
  transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
  transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
  transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
  transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
  transition-delay: 350ms;
}

/* CSS3 delays for transition effects - disappearing */
.submenu li:nth-child(1) {
  transition-delay: 350ms;
}
.submenu li:nth-child(2) {
  transition-delay: 300ms;
}
.submenu li:nth-child(3) {
  transition-delay: 250ms;
}
.submenu li:nth-child(4) {
  transition-delay: 200ms;
}
.submenu li:nth-child(5) {
  transition-delay: 150ms;
}
.submenu li:nth-child(6) {
  transition-delay: 100ms;
}
.submenu li:nth-child(7) {
  transition-delay: 50ms;
}
.submenu li:nth-child(8) {
  transition-delay: 0s;
}

/* Active link style */
.menu a.active {
  border-left: 3px solid #C4302B;
  color: #C4302B;
}
